{erl_opts, [
    debug_info
]}.

{deps, [
    {genlib, {git, "https://github.com/rbkmoney/genlib", {branch, master}}},
    {consuela, {git, "https://github.com/rbkmoney/consuela", {branch, master}}},
    {basho_bench, {git, "https://github.com/cloudant/basho_bench", {branch, cloudant}}}
]}.

{shell, [
    {apps, [consuela_bench]}
]}.
