{mode, {rate, 1}}.
{duration, 5}.
{concurrent, 3}.

{driver, consuela_bench_driver}.
{consul_endpoints, [
    {"consul1.bst1.rbkmoney.net", 8500},
    {"consul2.bst1.rbkmoney.net", 8500},
    {"consul3.bst1.rbkmoney.net", 8500}
]}.
{consul_acl_token,
    <<"2336ac4b-8e2d-6dd8-6ffb-0ddeaa93f31b">>
}.
{consul_client_transport_opts, #{
    connect_timeout => 100,
    recv_timeout    => 1000
}}.
{consuela_namespace,
    <<"keynfawkes-load-test-ns">>
}.

% local docker-compose setup
% {consul_endpoints, [
%     {"consul0", 8500},
%     {"consul1", 8500},
%     {"consul2", 8500}
% ]}.

{key_generator, {uniform_int, 100}}.
{value_generator, {uniform_int, 5000}}.
{minimum_lifetime, 5000}.

{operations, [

    {spawn_register    , 10},
    {lookup_registered , 10},

    % for statistic reporting only
    {register          , 0},
    {reaping           , 0}

]}.
